@model IEnumerable<DAL.Model.Implementation.BDProject>

<form method="post">
    <div class="row p-3 pb-3 mx-2">
        <div class="col-6"></div>
        <div class="col-6 text-end">
            <a asp-controller="Project" asp-action="BaseProject" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Project
            </a>
        </div>
    </div>

    <head>
        <title>Hierarchical Table</title>
        <link rel="stylesheet" type="text/css" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Count</th>
                    <th>Image</th>
                    <th>Introduction Date</th>
                    <th>MDC</th>
                    <th>Task Unit Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr class="level-1" data-id="@project.ProjectId" data-type="project">
                        <td>
                            <span class="toggle-symbol" data-target=".building-group-@project.ProjectId">+</span>
                            <i class="fa-solid fa-images"></i>
                            @project.Name
                        </td>
                        <td>@project.Code</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    @foreach (var buildingGroup in project.BuildingGroups)
                    {
                        <tr class="hidden-row building-group-@project.ProjectId level-2" data-id="@buildingGroup.BuildingGroupId" data-type="buildingGroup">
                            <td style="padding-left:20px;">
                                <span class="toggle-symbol" data-target=".building-@buildingGroup.BuildingGroupId">+</span>
                                <i class="fa-solid fa-city"></i>
                                @buildingGroup.Name
                            </td>
                            <td>@buildingGroup.Code</td>
                            <td>@buildingGroup.ConstructionDate</td>
                            <td>@buildingGroup.Address</td>
                            <td>@buildingGroup.Description</td>
                            <td></td>
                            <td></td>
                        </tr>

                        @foreach (var building in buildingGroup.Buildings)
                        {
                            <tr class="hidden-row building-@buildingGroup.BuildingGroupId level-3" data-id="@building.BuildingId" data-type="building">
                                <td style="padding-left:40px;">
                                    <span class="toggle-symbol" data-target=".room-@building.BuildingId">+</span>
                                    <i class="fa-solid fa-building"></i>
                                    @building.Name
                                </td>
                                <td>@building.Code</td>
                                <td>@building.ConstructionDate</td>
                                <td>@building.Address</td>
                                <td>@building.Description</td>
                                <td>@building.FloorArea</td>
                                <td></td>
                            </tr>

                            @foreach (var room in building.Rooms)
                            {
                                <tr class="hidden-row room-@building.BuildingId level-4" data-id="@room.RoomId" data-type="room">
                                    <td style="padding-left:60px;">
                                        <span class="toggle-symbol" data-target=".element-@room.RoomId">+</span>
                                        <i class="fa-solid fa-house"></i>
                                        @room.Name
                                    </td>
                                    <td>@room.Code</td>
                                    <td>@room.Description</td>
                                    <td>@room.RoomNumber</td>
                                    <td>@room.FloorArea</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                @foreach (var element in room.Elements)
                                {
                                    <tr class="hidden-row element-@room.RoomId level-5" data-id="@element.ElementId" data-type="element">
                                        <td style="padding-left:80px;">
                                            <i class="fa-solid fa-address-card"></i>
                                            @element.Name
                                        </td>
                                        <td>@element.Code</td>
                                        <td>@element.Count</td>
                                        <td>@element.Unit</td>
                                        <td>@element.IntroductionDate.ToShortDateString()</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        }
                    }
                }
            </tbody>
        </table>

        <!-- Context Menu -->
        <div class="context-menu" id="context-menu">
            <ul>
                <li id="update-item">Update</li>
                <li id="delete-item" >Delete</li>
            </ul>
        </div>

        <script>
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                var selectedRowData = null;

                // Expand/Collapse rows
                $(".toggle-symbol").click(function () {
                    var target = $(this).data("target");
                    var isExpanded = $(target).first().is(":visible");

                    if (isExpanded) {
                        $(target).hide();
                        $(this).text("+");
                    } else {
                        $(target).show();
                        $(this).text("-");
                    }
                });

                // Highlight row on click
                $(".table tbody tr").click(function () {
                    $(".table tbody tr").removeClass("selected");
                    $(this).addClass("selected");
                });

                // Show the context menu on right-click
                $(".table tbody tr").contextmenu(function (event) {
                    event.preventDefault();

                    selectedRowData = $(this).data(); // Store the row data for later use

                    $("#context-menu").css({
                        top: event.pageY + "px",
                        left: event.pageX + "px",
                    }).show();
                });

                // Hide the context menu when clicking elsewhere
                $(document).click(function () {
                    $("#context-menu").hide();
                });

                // Handle update action
                $("#update-item").click(function () {
                    if (selectedRowData) {
                        var updateUrl;
                        switch (selectedRowData.type) {
                            case 'project':
                                updateUrl = "/Project/Update";
                                break;
                            case 'buildingGroup':
                                updateUrl = "/BuildingGroup/Update";
                                break;
                            case 'building':
                                updateUrl = "/Building/Update";
                                break;
                            case 'room':
                                updateUrl = "/Room/Update";
                                break;
                            case 'element':
                                updateUrl = "/Element/Update";
                                break;
                            default:
                                toastr.error("Unknown type");
                                return;
                        }

                        window.location.href = updateUrl + "?id=" + selectedRowData.id;
                    }
                    $("#context-menu").hide();
                });

              
                $("#delete-item").click(function () {
                    if (selectedRowData) {
                        var deleteUrl;
                        switch (selectedRowData.type) {
                            case 'project':
                                deleteUrl = "/Project/Delete";
                                break;
                            case 'buildingGroup':
                                deleteUrl = "/BuildingGroup/Delete";
                                break;
                            case 'building':
                                deleteUrl = "/Building/Delete";
                                break;
                            case 'room':
                                deleteUrl = "/Room/Delete";
                                break;
                            case 'element':
                                deleteUrl = "/Element/Delete";
                                break;
                            default:
                                toastr.error("Unknown type");
                                return;
                        }

                       
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.post(deleteUrl, { id: selectedRowData.id }, function (result) {
                                    if (result.success) {
                                        toastr.success(result.message);
                                        setTimeout(function () {
                                            location.reload(); 
                                        }, 3000);
                                    } else {
                                        toastr.error(result.message || "Failed to delete the item.");
                                    }
                                }).fail(function (xhr, status, error) {
                                    toastr.error("An error occurred while trying to delete the item.");
                                });
                            }
                        });
                    }

                    $("#context-menu").hide();
                });
            });
        </script>
    </body>
</form>
